.form-content {
    width: 100%;
    margin: .5rem 0;
    line-height: 3;
}

.form-content input {
    width: 100%;
    height: 30px;
    border: solid 1px grey;
    opacity: .3;
    border-radius: 3px;
    font-size: 16px;
    color: blue;
}

label:after {
    content: "必須";
    background-color: #ba4923;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    min-width: 10px;
    padding: 5px 7px;
    margin: 0px 5px;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

button {
    margin: .5rem 0;
    padding: .5rem;
    border-radius: .2px;
    border: solid 1px black;
    transition-duration: .2s;
  }
  
  button:hover {
    opacity: .7;
    cursor: pointer;
  }