.calendarapp-container {
    /* background-color: red; */
    border: 1px solid black;
    padding: 1px;
}

.header-container {
    font-family: 'Questrial', sans-serif;
    display: flex;
    top: 30px;
    position: relative;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: transparent;
}

.header-container button {
    background-color: #666;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%
}

.header-container label {
    display: flex;
    min-width: 100px;
    font-size: 30px;
}

.calendar-container {
    width: 70%;
    margin: auto;
    position: relative;
    /* top: -600px; */
    padding-top: 50px;
    padding-bottom: 30px;
    overflow: hidden;
} 


.weekdays-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: white;
    padding: 20px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.weekdays-container .weekday {
    color: #808080;
    font-family: 'Questrial', sans-serif;
    width:50px;
    text-align: center;
    /* height: 50px; */
    /* margin: 2px; */
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: white;
    padding: 20px;
}

.calendar button{
    margin-bottom: 15px;
    outline: 0;
    border: 0;
    background: transparent;
    justify-self:center;
    align-self:center;
    width:50px;
    height:50px;
    border-radius:50px;
    margin:2px;
    transition-duration:.2s;

    &:hover{
        background:#eee;
      }
    
    &.otherMonths{
        color: lightgrey;
    }

    &.today{
    box-shadow:inset 0px 0px 0px 2px #0a3d62;
    }
}

/* .calendar .week {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background: white;
} */

