* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.menu {
    background-color: #8c7851;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    height: 8vh; /* viewport percentage */
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menu a {
    color: inherit;
    /* background-color: red; */
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

/* note that this is an active CLASS */
.menu li.active {
    background-color: #eaddcf;
}

.menu li:hover {
    background-color: #716040;
}

.site-title {
    font-size: 2rem;
}