.wrapper h3 {
  font-size: 16px;
  display: block;
}

.todoInput {
  width: 200px;
  height: 20px;
  margin-top: 30px;
  margin-left: 65px;
}
.ulList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.ulList div {
  margin-left: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.todoButton {
  margin: 5px 0 0 0;
  width: 45px;
}
.todolist {
  display: flex;
  margin-top: 20px;
}
