.error-message {
    display: none;
    color: red;
    border: red solid 3px;
}

label:has(input:invalid) .error-message {
    display: block;
}

.results {
  line-height: 26pt;
}

.title{
  color: #716040;
  font-size: large;
  line-height: 26pt;
}