.error-message {
    color: red;
}

label:has(input:invalid) .error-message {
    display: block;
}

.results {
  line-height: 26pt;
}

.title{
  color: #716040;
  font-size: x-large;
  line-height: 26pt;
}